@model ProfileCardViewModel

<div class="bgsidebar mb-4">
    <p class="h2 text-center">@Model.Role</p>
    <img src="@Model.Photo?width=128&height=128&rmode=crop" width="128" height="128" class="rounded-circle mx-auto d-block mt-5" alt="Photo of report author">
    <div class="fs-4 pt-3 lh-sm text-center">
        <span class="badge badge-pill bg-warning text-dark mb-2 mt-3">
            @Model.StarsCount
            <i class="icon-star" aria-hidden="true"></i>
        </span>
        <p>@Model.Username</p>
    </div>
    <div class="d-grid">
        <a class="btn btn-outline-light fs-5 custom-rounded" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Id">Profile</a>
    </div>
</div>