@model ProfileCardViewModel

<div class="row pt-4 justify-content-center">
    <div class="col-0 d-none col-md-2 col-lg-1 d-md-flex justify-content-center align-self-stretch">
        <span class="badge badge-pill bg-warning text-dark fs-3 d-flex align-items-center custom-rounded">
            @Model.StarsCount
            <i class="icon-star" aria-hidden="true"></i>
        </span>
    </div>
    <a class="col-10 col-lg-9" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Id">
        <div class="text-light border border-light custom-rounded p-3 overflow-hidden">
            <h2>@Model.Username</h2>
            <h4>@Model.ReportCount Reports <span class="d-inline d-md-none">(@Model.StarsCount stars)</span></h4>
        </div>
    </a>
    <div class="col-0 col-lg-1 d-none d-lg-flex justify-content-start p-2">
        <img class="custom-rounded" src="@Model.Photo?width=96&height=96&rmode=crop" onerror="style.opacity='0'" width="96" height="96" alt="@Model.Username's profile picture">
    </div>
</div>