@using Nemesys.Models;
@using Microsoft.AspNetCore.Identity;
@model UserViewModel
@inject UserManager<User> userManager

@if (Model.IsCurrentUser)
{
    ViewData["Title"] = "My Profile";
}
else
{
    ViewData["Title"] = @Model.Username;
}


<div class="container-fluid">
    <div class="row mt-5">
        <div id="sideNav" class="col-md-3 p-5 text-center">
            <div id="parentimage">
                <img id="profileimage" src="@Model.Photo" width="150" height="150" class="mx-auto d-block">
                @if (Model.IsCurrentUser)
                {
                    <div id="changeimage">
                        <label class="profileupload">
                            <input class="profile" type="file" alt="Edit Photo">
                            <i class="bi bi-pencil-square text-light fs-3 mb-3"></i>
                        </label>
                    </div>
                }
            </div>
            <span class="mt-5 mb-3 w-50 badge badge-pill bg-warning text-dark">
                <span class="fs-3">@Model.NumberOfStars</span>
                <i class="bi bi-star-fill fs-3"></i>
            </span>
            <div class="mt-5 text-light fs-5">
                <p>Member since @Model.DateJoined</p>
                <p>Last Active on @Model.LastActiveDate</p>
            </div>
        </div>

        <div class="col-md-8 text-light">
            @{
                var user = userManager.GetUserAsync(User).Result;
            }
            <span class="h2 me-3">@Model.Username</span>

            @foreach (RoleViewModel role in Model.Roles)
            {
                <span class="badge fs-4" style="background-color: @role.BackgroundColour; color: @role.TextColour;">@role.RoleName</span>
                @if (user != null && userManager.GetRolesAsync(user).Result.Contains("Admin") && !role.RoleName.Contains("Admin"))
                {
                    if (role.RoleName.Contains("Investigator"))
                    {
                        <form method="POST" asp-area="" asp-controller="Profile" asp-action="Demote" asp-route-id="@Model.UserId">
                            <button class="btn btn-outline-danger fs-5 mt-3">Demote User</button>
                        </form>
                    }
                    else
                    {
                        <form method="POST" asp-area="" asp-controller="Profile" asp-action="Promote" asp-route-id="@Model.UserId">
                            <button class="btn btn-outline-success fs-5 mt-3">Promote User</button>
                        </form>
                    }
                }
            }
            <h3 class="my-5">Bio</h3>

            <p class="fs-5" style="text-align: justify;">
                @Model.UserBio
            </p>
        </div>
        <div>
            @if (Model.IsCurrentUser)
            {
                <div class="col-6 offset-4">
                    <a type="button" class="w-100 btn btn-outline-light btn-lg mb-2" asp-area="Identity" asp-page="/Account/Manage">Edit Details</a>
                </div>
            }
        </div>
    </div>

    <div style="width: 85vw;" class="mx-auto">
        <h2 class="my-5 ml-3 text-light">Reports Submitted:</h2>
        @{
            if (Model.Reports != null && Model.Reports.ReportViewModels.Count() > 0)
            {
                foreach (ReportViewModel report in Model.Reports.ReportViewModels)
                {
                    <div class="row my-3">
                        <span class="col-1"></span>
                        <span class="col-1 badge badge-pill bg-warning text-dark d-flex justify-content-center align-items-center">
                            <span class="fs-3">@report.NumberOfStars</span>
                            <i style="font-size: 24px;" class="bi bi-star-fill"></i>
                        </span>
                        <a class="col-6 text-light" asp-area="" asp-controller="Report" asp-action="Index" asp-route-id="@report.ReportId">
                            <div class="rounded-3 border border-light p-2">
                                <p class="fs-3 m-0">@report.HazardName</p>
                            </div>
                        </a>
                    </div>
                }
            }
            else
            {
                <div class="col-12 text-light">
                    User has not submitted any reports
                </div>
            }
        }
    </div>
</div>