@using Nemesys.Models;
@using Microsoft.AspNetCore.Identity;
@model UserViewModel
@inject UserManager<User> userManager

@if (Model.IsCurrentUser)
{
    ViewData["Title"] = "My Profile";
}
else
{
    ViewData["Title"] = @Model.Username;
}


<div class="container-fluid">
    <div class="row mt-5">
        <div id="sideNav" class="col-xl-2 text-center">
            <div class="bgsidebar mb-4">
                <div id="parentimage">
                    <img id="profileimage" src="@Model.Photo?width=150&height=150&rmode=crop" width="150" height="150" class="rounded-circle mx-auto d-block" alt="Profile picture">
                </div>
                <span class="badge badge-pill bg-warning text-dark d-inline-flex mt-4 pe-5 ps-5 align-items-center">
                    <span class="fs-3">@Model.NumberOfStars</span>
                    <i style="font-size: 24px;" class="icon-star"></i>
                </span>
                <div class="mt-5 text-light fs-5">
                    <p>Member since @Model.DateJoined</p>
                    <p>Last Active on @Model.LastActiveDate</p>
                </div>
                <div>
                    @if (Model.IsCurrentUser)
                    {
                        <a type="button" class="w-100 btn btn-outline-light btn-lg mb-2 custom-rounded" asp-area="Identity" asp-page="/Account/Manage">Edit Details</a>
                    }
                </div>
            </div>
        </div>

        <div class="col-xl-10 ps-5 text-light">
            @{
                var user = userManager.GetUserAsync(User).Result;
            }
            <span class="h2 me-3">@Model.Username</span>

            @foreach (RoleViewModel role in Model.Roles)
            {
                <span class="badge fs-4" style="background-color: @role.BackgroundColour; color: @role.TextColour;">@role.RoleName</span>
                @if (user != null && User.IsInRole("Admin") && !role.RoleName.Contains("Admin"))
                {
                    if (role.RoleName.Contains("Investigator"))
                    {
                        <form style="display: inline-block;" method="POST" asp-area="" asp-controller="Profile" asp-action="Demote" asp-route-id="@Model.UserId">
                            <button class="btn btn-outline-danger fs-5 mb-2 fw-bold">Demote User</button>
                        </form>
                    }
                    else
                    {
                        <form style="display: inline-block;" method="POST" asp-area="" asp-controller="Profile" asp-action="Promote" asp-route-id="@Model.UserId">
                            <button class="btn btn-outline-success fs-5 mb-2 fw-bold">Promote User</button>
                        </form>
                    }
                }
                @if (role.RoleName.Contains("Investigator"))
                {
                    <h3 class="mt-5">Email</h3>
                    <p class="fs-5" style="text-align: justify;">@Model.Email</p>
                }
            }
            <h3 class="mt-5">Bio</h3>

            <p class="fs-5" style="text-align: justify;">
                @if (Model.UserBio != null)
                {
                    @Model.UserBio
                }
                else
                {
                    <div class="col-12 text-light fst-italic">
                        This user takes the right to silence too seriously.
                    </div>
                }
            </p>

            <h2 class="mt-5 mb-4 text-light">Reports Submitted</h2>
            @{
                if (Model.Reports != null && Model.Reports.ReportViewModels.Count() > 0)
                {
                    foreach (ReportViewModel report in Model.Reports.ReportViewModels.OrderByDescending(r => r.DateOfUpdate))
                    {
                        <form method="POST" onsubmit="return false;" asp-area="" asp-controller="Home" asp-action="Star">
                            <div class="row my-3">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="col-2 col-lg-1 d-flex align-items-center justify-content-center">
                                        <input type="hidden" name="reportId" value="@report.ReportId">
                                        <button type="submit" style="background-color: transparent; border: none; font-size: 0px;" aria-label="Star report @report.Description">
                                            <i class="icon-star clickable d-flex justify-content-center @(report.Starred ? "starred" : "unstarred")" aria-hidden="true" reportId="@report.ReportId"></i>
                                            <p class="h3 d-flex justify-content-center" style="color: gold;">@report.NumberOfStars</p>
                                        </button>
                                    </div>
                                }
                                <a class="col-10 text-light" asp-area="" asp-controller="Report" asp-action="Index" asp-route-id="@report.ReportId">
                                    <div class="text-light border custom-rounded border-light p-3">
                                        <p class="h2">@report.Description</p>
                                        <p class="h4">Date Submitted: @report.DateOfReport</p>
                                        <span>Status: </span>
                                        <span style="color: @report.ReportStatus.StatusColour">@report.ReportStatus.StatusName</span>
                                    </div>
                                </a>
                            </div>
                        </form>
                    }
                }
                else
                {
                    <div class="col-12 text-light fst-italic">
                        User has not submitted any reports yet.
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/scripts/star.js" async defer></script>
}