@model EditReportViewModel

@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
    ViewData["Title"] = "Edit Report";
}

@section head {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
}

<form asp-area="" asp-controller="Report" asp-action="Edit" method="post" enctype="multipart/form-data">
    <noscript>Enabling JavaScript is recommended for a better user experience. Click <a href="https://www.enable-javascript.com/">here</a> to learn how</noscript>
    <div class="form-group">
        <div class="form-group col">
            <label id="latitude-label" asp-for="@Model.Latitude"></label>
            <input id="latitude" asp-for="@Model.Latitude" class="form-control" />
            <span asp-validation-for="@Model.Latitude" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label id="longitude-label" asp-for="@Model.Longitude"></label>
            <input id="longitude" asp-for="@Model.Longitude" class="form-control" />
            <span asp-validation-for="@Model.Longitude" class="text-danger"></span>
        </div>
    </div>
    <div id="map"></div>
    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <div class="textarea-with-counter">
            <textarea asp-for="@Model.Description" class="form-control" rows="4"></textarea>
            <span class="textarea-counter"></span>
        </div>
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>
    <div class="form-group col">
        <label asp-for="@Model.HazardTypeId"></label>
        <select class="form-select" asp-for="@Model.HazardTypeId"
                asp-items="@(new SelectList(Model.HazardTypes, "HazardId", "HazardName"))">
            <option value="">Select a category</option>
        </select>
        <span asp-validation-for="@Model.HazardTypeId" class="text-danger"></span>
    </div>
    <div class="form-group col">
        <label asp-for="@Model.DateTimeOfHazard"></label>
        <input asp-for="@Model.DateTimeOfHazard" class="form-control" />
        <span asp-validation-for="@Model.DateTimeOfHazard" class="text-danger"></span>
    </div>
    @if (Model.ImageUrl != null)
    {
        <p>Current Report Image</p>
        <img src="@Model.ImageUrl" alt="Current report image" />
    }
    else
    {
        <div class="m-3">
            <p>This report has no image</p>
        </div>
    }
    <div class="form-group">
        <label asp-for="@Model.Photo"></label>
        <input asp-for="@Model.Photo" class="form-control" accept=".jpg, .jpeg, .png, .webp" />
        <span asp-validation-for="@Model.Photo" class="text-danger"></span>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-outline-light">Submit Report</button>
    </div>
</form>

@section scripts {
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script type="text/javascript" src="~/scripts/map.js" async defer></script>
    <script type="text/javascript" src="~/scripts/textarea-counter.js" async defer></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}