@using Nemesys.ViewModels;
@using Nemesys.Models;
@using Microsoft.AspNetCore.Identity;
@model ReportViewModel
@inject UserManager<User> userManager

@{ 
    ViewData["Title"] = Model.Description;
}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-2">
            <div class="h1 text-light text-center">Reporter</div>
            <img src="@Model.AuthorPhoto" width="128" height="128" class="mx-auto d-block mt-5">
            <div class="h4 pb-4 mb-0 lh-sm">
                <span class="badge badge-pill bg-warning text-dark">
                    @Model.AuthorStarsNumber
                    <i class="bi bi-star-fill" aria-hidden="true"></i>
                </span>
                <span class="text-light">@Model.AuthorUserName</span>
            </div>
            <div class="d-grid">
                <a type="button" class="btn btn-outline-light btn-lg mb-2" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.AuthorId">Profile</a>
            </div>
        </div>
        <div class="col-md-10 text-light ps-5 pe-4">
            <div class="row">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-1">
                        <i class="bi bi-star-fill clickable @(Model.Starred ? "starred" : "unstarred")" aria-hidden="true" reportId="@Model.ReportId"></i>
                    </div>
                }
                <div class="col-11 ps-5">
                    <h1>@Model.Description</h1>
                    <h4>Faculty of ICT</h4>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-8 p">
                    <div class="h5">
                        Reported: @Model.DateOfReport
                    </div>
                    <div class="p pb-4">
                        <i>Last Update: 6th April 2021 - 12:06PM</i>
                    </div>
                    <div>
                        @Model.Description
                    </div>

                    <div class="pt-5">
                        <span class="h5 pt-5">Current Status:</span>
                        <span class="h5" style="color: @Model.StatusColour">@Model.StatusString</span>
                    </div>

                    @{ 
                        var user = userManager.GetUserAsync(User).Result;
                    }

                <div class="d-flex">
                    @if (user != null && user.Id == Model.AuthorId)
                    {
                        <div>
                            <a type="button" class="btn btn-outline-light mt-3" asp-area="" asp-controller="Report" asp-action="Edit" asp-route-id="@Model.ReportId">Edit Report</a>
                        </div>
                        <div>
                            <a type="button" class="btn btn-outline-light mt-3" asp-area="" asp-controller="Report" asp-action="Delete" asp-route-id="@Model.ReportId">Delete Report</a>
                        </div>
                    }
                    @if (user != null && userManager.GetRolesAsync(user).Result.Contains("Investigator"))
                    {
                        <div>
                            <a type="button" class="btn btn-light text-dark mt-3" asp-area="" asp-controller="Report" asp-action="Delete" asp-route-id="@Model.ReportId">Add Investigation</a>
                        </div>
                    }
                    </div>
                </div>
                <div class="col-4">
                    <img src="@Model.Photo" width="256" alt="Image of danger">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/scripts/star.js"></script>
} 