@using Nemesys.Models;
@using Microsoft.AspNetCore.Identity;
@model ReportViewModel
@inject UserManager<User> userManager

@{
    ViewData["Title"] = Model.Description;
}

@section head {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-2 text-light">
            <div class="h1 text-center">Reporter</div>
            <img src="@Model.AuthorPhoto?width=128&height=128&rmode=crop" width="128" height="128" class="rounded-circle mx-auto d-block mt-5" alt="Photo of report author">
            <div class="h4 pt-3 pb-4 lh-sm d-flex justify-content-center align-items-center">
                <span class="badge badge-pill bg-warning text-dark">
                    @Model.AuthorStarsNumber
                    <i class="icon-star" aria-hidden="true"></i>
                </span>
                <span class="ps-3">@Model.AuthorUserName</span>
            </div>
            <div class="d-grid">
                <a type="button" class="btn btn-outline-light btn-lg mb-2" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.AuthorId">Profile</a>
            </div>
        </div>
        <div class="col-md-10 text-light ps-5 pe-4">
            <div class="row">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-md-1">
                        <i class="icon-star clickable @(Model.Starred ? "starred" : "unstarred")" aria-hidden="true" reportId="@Model.ReportId"></i>
                    </div>
                }
                <div class="col-md-11 h5">
                    <h1>@Model.Description</h1>
                    <span>Current Status:</span>
                    <span style="color: @Model.ReportStatus.StatusColour">@Model.ReportStatus.StatusName</span>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-md-8">
                    <div class="h5">
                        Reported: @Model.DateOfReport
                    </div>
                    <div class="p pb-4">
                        <i>Last Update: @Model.DateOfUpdate</i>
                    </div>
                    <div class="mb-4">
                        Date of incident occurence: @Model.DateOfHazard
                    </div>
                    @if (Model.Photo != null)
                    {
                        <img class="mb-5" src="@Model.Photo" width="256" alt="Image of danger" />
                    }
                    @{
                        var user = userManager.GetUserAsync(User).Result;
                    }
                </div>
                <div class="col-lg-4">
                    <p class="h4">Location of Hazard</p>
                    <div id="map" style="height: 400px;"></div>
                </div>
                <div class="d-flex">
                    @if (user != null && user.Id == Model.AuthorId)
                    {
                        <a class="btn btn-outline-light mt-3 me-3" asp-area="" asp-controller="Report" asp-action="Edit" asp-route-id="@Model.ReportId">Edit Report</a>
                        <a class="btn btn-outline-light mt-3 me-3" asp-area="" asp-controller="Report" asp-action="Delete" asp-route-id="@Model.ReportId">Delete Report</a>
                    }
                    @{
                        if (user != null && !Model.HasInvestigation)
                        {
                            if (User.IsInRole("Investigator") || User.IsInRole("Admin"))
                            {
                                <a class="btn btn-light text-dark mt-3" asp-area="" asp-controller="Investigation" asp-action="Create" asp-route-id="@Model.ReportId">Add Investigation</a>
                            }
                        }

                        if (user != null && Model.HasInvestigation)
                        {
                            <a class="btn btn-light text-dark mt-3" asp-area="" asp-controller="Investigation" asp-action="Index" asp-route-id="@Model.InvestigationId">View Investigation</a>
                        }
                    }
                </div>
            </div>
         </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/scripts/star.js"></script> <!--Calling star toggle-->
    
    <!--Setting latitude and longtitude to be set on map-->
    <script>
        var lat = '@Model.Latitude';
        var long = '@Model.Longitude';
    </script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
    <script type="text/javascript" src="~/scripts/mapdisplay.js"></script>
} 