@using Nemesys.Models;
@model HomePageViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid px-sm-1 px-md-3 pt-1">
    <div class="row mt-5 mx-1 mx-lg-0">
        <div class="col-md-3">
            <p class="h4 fw-normal text-light mb-3">Sort by</p>
            <ul class="nav nav-pills flex-column">
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="Award" asp-route-StatusId="@Context.Request.Query["StatusId"]">Highest Awarded</a></li>
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="Update" asp-route-StatusId="@Context.Request.Query["StatusId"]">Last Updated</a></li>    
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="Newest" asp-route-StatusId="@Context.Request.Query["StatusId"]">Date Added (Newest)</a></li>
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="Oldest" asp-route-StatusId="@Context.Request.Query["StatusId"]">Date Added (Oldest)</a></li>
            </ul>
            <br>

            <p class="h4 fw-normal text-light mb-3">Hall of Fame</p>
                @{ 
                    foreach (User user in Model.HallOfFame.HallOfFameUsers)
                    {
                        <a class="btn btn-outline-light text-left mb-3 p-3 d-flex" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@user.Id">
                            <img class="rounded-circle" onerror="style.opacity='0'" style="margin-right: 10px;" src="@user.Photo?width=48&height=48&rmode=crop" width="48" height="48" alt="Profile picture">
                            <div class="pl-3 lh-sm">
                                <p class="mb-1">@user.Alias</p>
                                <span class="badge badge-pill bg-warning text-dark">
                                    @user.NumberOfStars
                                    <i class="fa icon-star" aria-hidden="true"></i>
                                </span>
                            </div>
                        </a>
                    }

                    if (Model.HallOfFame.HallOfFameUsers.Count() == 0)
                    {
                        <div class="mb-3 p-3 d-flex text-white">
                            There are no users.
                        </div>
                    }
                }
            <a class="btn btn-light w-100 mb-3" asp-area="" asp-controller="Home" asp-action="Hall">Go to Hall of Fame</a>
        </div>

        <div class="col-md-8 offset-md-1">
            <h2 class="text-light d-block d-sm-none">Reports</h2>
            <ul class="nav nav-tabs nav-justified text-center">
                <li class="nav-item fs-5">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">All</a>
                </li>
                @foreach (ReportStatus status in Model.Statuses)
                {
                    <li class="nav-item fs-5">
                        <a class="nav-link" style="color: @status.HexColour" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="@Context.Request.Query["SortString"]" asp-route-StatusId="@status.Id">@status.StatusName</a>
                    </li>
                }
            </ul>

            @{
                foreach (ReportViewModel report in Model.Reports.ReportViewModels)
                {
                    <form method="POST" onsubmit="return false;" asp-area="" asp-controller="Home" asp-action="Star" asp-route-StarRecord="@Context.Request.Query["SortString"]" asp-route-StatusId="@Context.Request.Query["StatusId"]">
                        <div class="row mt-3 mb-3">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="col-2 col-lg-1 d-flex justify-content-center align-items-center">
                                    <i class="icon-star clickable @(report.Starred ? "starred" : "unstarred")" aria-hidden="true" reportId="@report.ReportId"></i>
                                </div>
                            }
                            <a class="@(User.Identity.IsAuthenticated ? "col-10 col-lg-9" : "col-12 col-lg-10")" asp-area="" asp-controller="Report" asp-action="Index" asp-route-id="@report.ReportId">
                                <div class="text-light border border-light rounded-3 p-3 overflow-hidden">
                                    <p class="h2">@report.Description</p>
                                    <p class="h4">Type of Hazard: @report.HazardName</p>
                                    <span>Status: </span>
                                    <span style="color: @report.ReportStatus.StatusColour">@report.ReportStatus.StatusName</span>
                                </div>
                            </a>
                            <div class="col-2 d-none d-xl-inline-block justify-content-center align-content-center p-0">
                                <span class="d-inline-block align-middle h-100"></span>
                                @if (report.Photo != null)
                                {

                                    <input type="hidden" name="reportId" value="@report.ReportId" />
                                    <div class="col-2 col-lg-1 d-flex justify-content-center align-items-center">
                                        <button type="submit" style="background-color: transparent; border: none; font-size: 0px;" aria-label="Star report @report.Description">
                                            <i class="icon-star clickable @(report.Starred ? "starred" : "unstarred")" aria-hidden="true" reportId="@report.ReportId"></i>
                                        </button>
                                    </div>

                                }
                                <a class="@(User.Identity.IsAuthenticated ? "col-10 col-lg-9" : "col-12 col-lg-10")" asp-area="" asp-controller="Report" asp-action="Index" asp-route-id="@report.ReportId">
                                    <div class="text-light border border-light rounded-3 p-3 overflow-hidden">
                                        <p class="h2">@report.Description</p>
                                        <p class="h4">Type of Hazard: @report.HazardName</p>
                                        <span>Status: </span>
                                        <span style="color: @report.ReportStatus.StatusColour">@report.ReportStatus.StatusName</span>
                                    </div>
                                </a>
                                <div class="col-2 d-none d-lg-inline-block justify-content-center align-content-center">
                                    <span class="d-inline-block align-middle h-100"></span>
                                    @if (report.Photo != null)
                                    {
                                        <img class="rounded align-content-center" onerror="style.opacity='0'" src="@report.Photo?width=128&height=128&rmode=crop" width="128" height="128" alt="Photo of hazard">
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>

@section scripts { 
    <script src="~/scripts/star.js" async defer></script>
}