@using Nemesys.Models;
@model HomePageViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid px-sm-1 px-md-5 pt-1">
    <div class="row mt-5">
        <div id="sideNav" class="col-md-3">
            <p class="h4 fw-normal text-light mb-3">Sort by</p>
            <ul class="nav nav-pills flex-column">
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="Award" asp-route-StatusId="@Context.Request.Query["StatusId"]">Highest Awarded</a></li>
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="Update" asp-route-StatusId="@Context.Request.Query["StatusId"]">Last Updated</a></li>    
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="Newest" asp-route-StatusId="@Context.Request.Query["StatusId"]">Date Added (Newest)</a></li>
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="Oldest" asp-route-StatusId="@Context.Request.Query["StatusId"]">Date Added (Oldest)</a></li>
            </ul>
            <br>

            <p class="h4 fw-normal text-light mb-3">Hall of Fame</p>
                @{ 
                    foreach (User user in Model.HallOfFame.HallOfFameUsers)
                    {
                        <a class="btn btn-outline-light text-left mb-3 p-3 d-flex" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@user.Id">
                            <img onerror="style.opacity='0'" style="margin-right: 10px;" src="@user.Photo" width="48" height="48" alt="Profile picture">
                            <div class="pl-3 lh-sm">
                                <p class="mb-1">@user.Alias</p>
                                <span class="badge badge-pill bg-warning text-dark">
                                    @user.NumberOfStars
                                    <i class="bi bi-star-fill" aria-hidden="true"></i>
                                </span>
                            </div>
                        </a>
                    }

                    if (Model.HallOfFame.HallOfFameUsers.Count() == 0)
                    {
                        <div class="mb-3 p-3 d-flex text-white">
                            There are no users.
                        </div>
                    }
                }
            <a class="btn btn-light w-100 mb-3" asp-area="" asp-controller="Home" asp-action="Hall">See More</a>
        </div>

        <div id="mainContent" class="col-md-8 offset-1">
            <ul class="nav nav-tabs nav-justified text-center">
                <li class="nav-item fs-5">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">All</a>
                </li>
                @foreach (ReportStatus status in Model.Statuses)
                {
                    <li class="nav-item fs-5">
                        <a class="nav-link" style="color: @status.HexColour" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="@Context.Request.Query["SortString"]" asp-route-StatusId="@status.Id">@status.StatusName</a>
                    </li>
                }
            </ul>

            @{
                foreach (ReportViewModel report in Model.Reports.ReportViewModels)
                {
                    <div class="row mt-3 mb-3">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="col-1 d-flex justify-content-center align-items-center">
                                <i class="bi bi-star-fill clickable @(report.Starred ? "starred" : "unstarred")" aria-hidden="true" reportId="@report.ReportId"></i>
                            </div>
                        }
                        <a class="@(User.Identity.IsAuthenticated ? "col-9" : "col-10") text-decoration-none" asp-area="" asp-controller="Report" asp-action="Index" asp-route-id="@report.ReportId">
                            <div class="text-light border rounded-3 border-light p-3">
                                <h2>@report.Description</h2>
                                <h4>Type of Hazard: @report.HazardName</h4>
                                <span>Status: </span>
                                <span style="color: @report.ReportStatus.StatusColour">@report.ReportStatus.StatusName</span>
                            </div>
                        </a>
                        <div class="col-2 d-flex justify-content-center align-items-center d-none d-md-block">
                            <img class="rounded" onerror="style.opacity='0'" src=@report.Photo width="128" height="100%" alt="Photo of hazard">
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts { 
    <script src="~/scripts/star.js" async defer></script>
}