@using Nemesys.Models;
@model HomePageViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid px-sm-1 px-md-3 pt-1">
    <div class="row mt-5 mx-1 mx-lg-0">
        <div class="col-md-3">
            <div class="bgsidebar">
                <p class="h4 fw-normal text-light mb-3">Sort by</p>
                <div class="sortitems">
                    <ul class="nav nav-pills flex-column" role="navigation" aria-label="Sort by">
                        <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="Award" asp-route-StatusId="@Context.Request.Query["StatusId"]">Highest Awarded</a></li>
                        <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="Update" asp-route-StatusId="@Context.Request.Query["StatusId"]">Last Updated</a></li>
                        <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="Newest" asp-route-StatusId="@Context.Request.Query["StatusId"]">Date Added (Newest)</a></li>
                        <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="Oldest" asp-route-StatusId="@Context.Request.Query["StatusId"]">Date Added (Oldest)</a></li>
                    </ul>
                </div>
            </div>
            <br>

            <div class="bgsidebar" role="navigation" aria-label="Hall of fame">
                <p class="h4 fw-normal text-light mb-3">Hall of Fame</p>
                <div class="mb-3">
                    @{int counter = 0; }
                    @foreach (User user in Model.HallOfFame.HallOfFameUsers)
                    {
                        counter++;
                        
                        <a class="btn btn-outline-light text-left p-1 p-lg-3 d-flex custom-rounded" style="border: none;" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@user.Id">
                            <img class="d-md-none d-lg-inline-block rounded-circle" onerror="style.opacity='0'" style="margin-right: 10px;" src="@user.Photo?width=48&height=48&rmode=crop" width="48" height="48" alt="@user.Alias's profile picture">
                            <div class="pl-3 lh-sm text-md-center text-lg-start w-100">
                                <p class="mb-1">@user.Alias</p>
                                <span class="badge badge-pill bg-warning text-dark">
                                    @user.NumberOfStars
                                    <i class="icon-star" aria-hidden="true"></i>
                                </span>
                            </div>

                        </a>
                        if (!(counter >= Model.HallOfFame.HallOfFameUsers.Count()))
                        {
                            <hr style="border: 1px solid white; margin: 0;"/>
                        }
                    }
                </div>

                @if (Model.HallOfFame.HallOfFameUsers.Count() == 0)
                {
                    <div class="mb-3 p-3 d-flex text-white custom-rounded">
                        There are no users.
                    </div>
                }
                <a class="btn btn-light fs-5 w-100 custom-rounded" asp-area="" asp-controller="Home" asp-action="Hall">Go to Hall of Fame</a>
            </div>
        </div>

        <div class="col-md-8 offset-md-1">
            <h2 class="text-light d-flex d-sm-none justify-content-center mt-4">Reports</h2>

            <div class="btn-group mt-3 mb-3 d-block d-md-none dropend">
                <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">Filter Reports</button>
                <ul class="dropdown-menu">
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">All</a></li>
                    @foreach (ReportStatus status in Model.Statuses)
                    {
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="@Context.Request.Query["SortString"]" asp-route-StatusId="@status.Id">@status.StatusName</a></li>
                    }
                </ul>
            </div>

            <ul class="nav nav-tabs nav-justified text-center mt-2 d-none d-md-flex">
                <li class="nav-item fs-5">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">All</a>
                </li>
                @foreach (ReportStatus status in Model.Statuses)
                {
                    <li class="nav-item fs-5">
                        <a class="nav-link" style="color: @status.HexColour" asp-area="" asp-controller="Home" asp-action="Index" asp-route-SortString="@Context.Request.Query["SortString"]" asp-route-StatusId="@status.Id">@status.StatusName</a>
                    </li>
                }
            </ul>

            @{
                foreach (ReportViewModel report in Model.Reports.ReportViewModels)
                {
                    <form method="POST" onsubmit="return false;" asp-area="" asp-controller="Home" asp-action="Star" asp-route-StarRecord="@Context.Request.Query["SortString"]" asp-route-StatusId="@Context.Request.Query["StatusId"]">
                        <div class="row mt-3 mb-3 d-flex align-items-center" role="listitem">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <input type="hidden" name="reportId" value="@report.ReportId" />
                                <div class="col-2 col-lg-1 d-flex justify-content-center align-items-center">
                                    <button type="submit" style="background-color: transparent; border: none; font-size: 0px;" aria-label="Star report @report.Description (Is starred: @report.Starred)">
                                        <i class="icon-star clickable @(report.Starred ? "starred" : "unstarred")" aria-hidden="true" reportId="@report.ReportId"></i>
                                    </button>
                                </div>
                            }
                            <a class="@(User.Identity.IsAuthenticated ? "col-10 col-lg-9" : "col-12 col-lg-10")" asp-area="" asp-controller="Report" asp-action="Index" asp-route-id="@report.ReportId">
                                <div class="text-light border custom-rounded border-light p-3">
                                    <p class="h2">@report.Description</p>
                                    <p class="h4">Type of Hazard: @report.HazardName</p>
                                    <span>Status: </span>
                                    <span style="color: @report.ReportStatus.StatusColour">@report.ReportStatus.StatusName</span>
                                </div>
                            </a>
                            <div class="col-2 d-none d-lg-inline-block justify-content-center align-content-center p-0">
                                @if (report.Photo != null)
                                {
                                    <img class="custom-rounded align-content-center" onerror="style.opacity='0'" src="@report.Photo?width=128&height=128&rmode=crop" width="128" height="128" alt="Photo of hazard">
                                }
                            </div>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>

@section scripts {
    @if (User.Identity.IsAuthenticated)
    {
        <script src="~/scripts/star.js" async defer></script>
    }
}