@using Nemesys.Models;
@using Nemesys.ViewModels;
@model HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid px-sm-1 px-md-5 pt-1">
    <div class="row mt-5">
        <div id="sideNav" class="col-md-3">
            <p class="h4 fw-normal text-light mb-3">Sort by</p>
            <ul class="nav nav-pills flex-column">
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index">Highest Awarded</a></li>
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index">Date Added (Newest)</a></li>
                <li><a class="nav-link link-light" asp-area="" asp-controller="Home" asp-action="Index">Date Added (Oldest)</a></li>
            </ul>
            <br>

            <p class="h4 fw-normal text-light mb-3">Hall of Fame</p>
                @{ 
                    foreach (User user in Model.HallOfFame.HallOfFameUsers)
                    {
                        <a class="btn btn-outline-light text-left mb-3 p-3 d-flex" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@user.Id">
                            <img style="margin-right: 10px;" src="@user.Photo" width="48" height="48">
                            <div class="pl-3 lh-sm">
                                <p class="mb-1">@user.UserName</p>
                                <span class="badge badge-pill bg-warning text-dark">
                                    @user.NumberOfStars
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg>
                                </span>
                            </div>
                        </a>
                    }
                }
            <a class="btn btn-light w-100" asp-area="" asp-controller="Home" asp-action="Hall">See More</a>
        </div>

        <div class="col-md-1"></div>

        <div id="mainContent" class="col-md-8">
            <ul class="nav nav-tabs nav-justified text-center">
                <li class="nav-item fs-5">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" asp-route-status="">All</a>
                </li>
                <li class="nav-item fs-5">
                    <a class="nav-link text-success" asp-area="" asp-controller="Home" asp-action="Index" asp-route-status="Open">Open</a>
                </li>
                <li class="nav-item fs-5">
                    <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Index" asp-route-status="UnderInvestigation">Under Investigation</a>
                </li>
                <li class="nav-item fs-5">
                    <a class="nav-link text-info" asp-area="" asp-controller="Home" asp-action="Index" asp-route-status="NoActionRequired">No Action Required</a>
                </li>
                <li class="nav-item fs-5">
                    <a class="nav-link text-danger" asp-area="" asp-controller="Home" asp-action="Index" asp-route-status="Closed">Closed</a>
                </li>
            </ul>

            @{
                foreach (ReportViewModel report in Model.Reports.ReportViewModels)
                {
                    <div class="row pt-4">
                        <div class="col-1 d-flex justify-content-center align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill=@(report.Starred ? "yellow" : "white") class="bi bi-star" viewBox="0 0 14 20">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                            </svg>
                        </div>
                        <a class="col-9 text-decoration-none" asp-area="" asp-controller="Report" asp-action="Index" asp-route-id="@report.Report.ReportId">
                            <div class="text-light border rounded-3 border-light p-3">
                                <h2>@report.Report.HazardType</h2>
                                <h4>Location goes here</h4>
                                <span>Status: </span>
                                <span class="@report.BootstrapStatus">@report.StatusString</span>
                            </div>
                        </a>
                        <div class="col-2">
                            <img src=@report.Report.Photo width="128" height="128" alt="Photo of hazard">
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>