@model SearchResultViewModel

@{
    ViewData["Title"] = "Search Results for " + Model.SearchString;
}

<h1 class="text-white text-center m-3">@ViewData["Title"]</h1>

@if (Model.Reports.ReportViewModels.Count() > 0)
{
    foreach (ReportViewModel report in Model.Reports.ReportViewModels)
    {
        <div class="row pt-4 m-3">
            <a class="col-11 text-decoration-none" asp-area="" asp-controller="Report" asp-action="Index" asp-route-id="@report.ReportId">
                <div class="text-light border rounded-3 border-light p-3">
                    <h2>@report.Description</h2>
                    <h4>Hazard Type: @report.HazardName</h4>
                    <span>Status: </span>
                    <span style="color: @report.StatusColour">@report.StatusString</span>
                </div>
            </a>
            <div class="col-1 d-flex justify-content-center align-items-center">
                <img class="rounded" src=@report.Photo width="128" height="128" alt="Photo of hazard">
            </div>
        </div>
    }
}
else
{
    <div class="text-white m-3 pt-4">
        <h2 class="text-center">No search results</h2>
    </div>
}