@using Nemesys.Models;
@using Microsoft.AspNetCore.Identity;
@model InvestigationViewModel
@inject UserManager<User> userManager
@{
    ViewData["Title"] = "Investigation | " + Model.ReportDescription;
}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-2 text-light">
            <div class="h1 text-center">Reporter</div>
            <img src="@Model.InvestigatorPhoto" width="128" height="128" class="mx-auto d-block mt-5">
            <div class="h4 pt-3 pb-4 lh-sm d-flex justify-content-center align-items-center">
                <span class="badge badge-pill bg-warning text-dark">
                    @Model.InvestigatorStarsNumber
                    <i class="bi bi-star-fill" aria-hidden="true"></i>
                </span>
                <span class="ps-3">@Model.InvestigatorUserName</span>
                <span class="ps-3">@Model.InvestigatorEmail</span>
            </div>
            <div class="d-grid">
                <a type="button" class="btn btn-outline-light btn-lg mb-2" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.InvestigatorId">Profile</a>
            </div>
        </div>
        <div class="col-md-10 text-light ps-5 pe-4">
            <div class="row">
                <div class="col-md-11 h5">
                    <h1 class="mb-2">@Model.Description</h1>
                    <h2>In relation to: @Model.ReportDescription</h2>
                    <span>Current Status:</span>
                    <span style="color: @Model.StatusColour">@Model.StatusName</span>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-md-8">
                    <div class="h5">
                        Date of Action: @Model.DateOfAction
                    </div>
                    <div class="mb-2">
                        @Model.Description
                    </div>
                    <div class="mb-4">
                        <a type="button" class="btn btn-outline-light mt-2" asp-area="" asp-controller="Investigation" asp-action="ReportPage" asp-route-id="@Model.ReportId">View Original Report</a>
                    </div>
                    @{
                        var user = userManager.GetUserAsync(User).Result;
                    }
                </div>
                <div class="d-flex">
                    @if (user != null && user.Id == Model.InvestigatorId)
                    {
                        <div>
                            <!--TO ADD EDIT ACTION IN INVESTIGATION-->
                            <a type="button" class="btn btn-outline-light mt-2" asp-area="" asp-controller="Investigation" asp-action="Edit" asp-route-id="@Model.InvestigationId">Edit Investigation</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
